@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}
.window{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}
.circle{
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
#one{
    width: 134px;
    height: 134px;
    bottom: -5%;
    right: 20%;
    fill: #fff;
    filter: blur(100px);
}
#two{
    width: 54px;
    height: 54px;
    filter: blur(50px);
    bottom: 45%;
    right: 40%;
}
#three{
    width: 60px;
    height: 60px;
    filter: blur(50px);
    bottom: 30%;
    left: 30%;
}
#four{
    width: 90px;
    height: 90px;
    filter: blur(90px);
    left: 15%;
}
#fith{
    width: 132px;
    height: 132px;
    background-color: #FF6C6C;
    filter: blur(110px);
    right: 7%;
    top: -10%;
}
#sex{
    width: 115px;
    height: 115px;
    background-color: #FFDE68;
    filter: blur(80px);
    bottom: 30%;
    left: -5%;
}
#seven{
    width: 87px;
    height: 87px;
    background-color: #FFDE68;
    filter: blur(70px);
    bottom: -5%;
    left: 15%;
}
.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar{
    width: 100vw;
    height: 52px;
    background-color: #9F9F9F;
    background: rgba(159, 159, 159, 0.3);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}
.contain{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 100%;
}
.user{
    width: 24px;
    height: 24px;
    background-image: url("../assets/usericon.svg");
    isolation: isolate;
    opacity: 100%;
    cursor: pointer;
}
.logo{
    width: 20%;
    height: 35px;
    background-image: url("../assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 37%;
}
.chip{
    width: 20px;
    height: 20px;
    background-image: url("../assets/chip.svg");
    margin-left: 8px;
}
.countchip{
    margin-left: auto;
    font-weight: bold;
    color: #d1d1d1;
    letter-spacing: 1px;
    cursor:pointer;
}
.containbut{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.but{
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-top: 24px;
    border-radius: 16px;
    color: #d1d1d1;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in;
}
.but:hover{
    cursor: pointer;
    color:#fff;
    
}